<html>

<head>
  <title>応用演習 じゃんけんゲーム</title>
</head>

<body>
  <h1>
    Janken GAME!
  </h1>
  <!--roomがあった場合に表示される-->
  <!--objectはdivの中でroomオブジェクトのフィールドにアクセスすることを示す-->
  <div th:if="${room}">
    エントリー
    <ul>
    <!--eachは所謂for each．この場合roomオブジェクトのusersフィールドにあるすべてのデータを一通り表示する.thが指定されているので[]が不要になる-->
      <li th:each="user : ${room.users}">[[${user}]]</li>
    </ul>
  </div>
  <p>
  <div th:if="${Name}">
    Hi [[${Name}]]
  </div>
  </p>
  <a href="/Gu">ぐー</a>
  <a href="/Cho">ちょき</a>
  <a href="/Pa">ぱー</a>
    <div th:if="${Myte}">
      貴方の手 [[${Myte}]]<br>
      相手の手 [[${Cpute}]]<br>
      [[${kek}]]
    </div>
  <div><a href="/logout">ログアウト</a></div>

</body>
